# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
        - id: check-yaml
        - id: check-added-large-files
        - id: debug-statements
        - id: trailing-whitespace
        - id: end-of-file-fixer

-   repo: https://github.com/asottile/reorder_python_imports
    rev: v2.7.1
    hooks:
    - id: reorder-python-imports

-   repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.10
    hooks:
        # Run the linter.
        - id: ruff-check
        # Run the formatter.
        - id: ruff-format
